# Module 8: SQL Alchemy

SQL is one of the most used types of managing data storage. Being able to work with it is essential for a Data Engineer, and it helps when you can combine Python and SQL.

During this training we will go into detail about using SQL in Python. During the training we will follow the following outline:
1. SQL
2. The SQL alchemy library
3. Basic operations
4. Advanced operations

Enjoy!

Inspiration; https://pythoncursus.nl/sqlalchemy-tutorial-python/

## Section 1: SQL (15 min)

- What is SQL (recap / introduction)
- What is it used for?
- Show the structure of SQL statements

## Section 2: The SQL Alchemy library (30 min)

- Show the most basic operations
- Start with reading from an existing table (movies).
-

## Section 3: Basic operations (45 min)

## Section 4: Advanced operations (30 min)

#### Assignment 1: Getting acces to an API using Python 1

In [1]:
from sqlalchemy import create_engine
import pandas as pd

engine = create_engine('sqlite:///movies.db')
df = pd.read_sql('select * from movies', engine)

In [2]:
print(df)

        id                               movie_title      director_name  \
0        1                                    Avatar      James Cameron
1        2  Pirates of the Caribbean: At World's End     Gore Verbinski
2        3                                   Spectre         Sam Mendes
3        4                     The Dark Knight Rises  Christopher Nolan
4        5                               John Carter     Andrew Stanton
...    ...                                       ...                ...
3537  3538                                     Clean    Olivier Assayas
3538  3539                                The Circle     James Ponsoldt
3539  3540                                    Primer      Shane Carruth
3540  3541                               El Mariachi   Robert Rodriguez
3541  3542                         My Date with Drew           Jon Gunn

                                                summary  \
0     A paraplegic marine dispatched to the moon Pan...
1     Captain Barbossa, Will Turner and Elizabeth Sw...
2     A cryptic message from 007's past sends him pi...
3     Eight years after the Joker's reign of anarchy...
4     Transported to Barsoom, a Civil War vet discov...
...                                                 ...
3537  After she ends up in prison and loses custody ...
3538  A woman lands a dream job at a powerful tech c...
3539  Four friends/fledgling entrepreneurs, knowing ...
3540  A traveling mariachi is mistaken for a murdero...
3541  "If you don't take risks, you'll have a wasted...

                                     genres release_data  duration  \
0     Action | Adventure | Fantasy | Sci-Fi   2009-12-17       162
1              Action | Adventure | Fantasy   2007-05-23       169
2             Action | Adventure | Thriller   2015-10-29       148
3                         Action | Thriller   2012-07-20       164
4               Action | Adventure | Sci-Fi   2012-03-08       132
...                                     ...          ...       ...
3537                Drama | Music | Romance   2005-05-26       111
3538              Drama | Sci-Fi | Thriller   2017-05-11       110
3539              Drama | Sci-Fi | Thriller   2005-06-02        77
3540              Action | Crime | Thriller   1994-02-24        81
3541                            Documentary   2005-09-30        90

           budget opening_weekend_usa    gross_usa gross_worldwide imdb_score  \
0     237000000.0          77025481.0  760507625.0    2787965087.0        7.8
1     300000000.0         139802190.0  309420425.0     963420425.0        7.1
2     245000000.0          70403148.0  200074175.0     880674175.0        6.8
3     250000000.0         160887295.0  448139099.0    1084939099.0        8.4
4     250000000.0          30180188.0   73078100.0     284139100.0        6.6
...           ...                 ...          ...             ...        ...
3537                          14953.0     136007.0                        6.9
3538   18000000.0           9034148.0   20476391.0                        5.3
3539       7000.0             28162.0     424760.0                        6.9
3540       7000.0            312528.0    2040920.0       2041928.0        6.9
3541       1100.0             85222.0      85222.0        263000.0        6.5

     num_critic_for_reviews num_voted_users metascore  oscar_wins  \
0                     727.0       1038709.0        83           3
1                     322.0        554187.0        50           0
2                     627.0        350849.0        60           0
3                     834.0       1378531.0        78           0
4                     477.0        238554.0        51           0
...                     ...             ...       ...         ...
3537                   83.0          4285.0        75           0
3538                  245.0         71761.0        43           0
3539                  125.0         89392.0        68           0
3540                   56.0         58948.0        73           0
3541                   42.0          4439.0        51           0

      oscar_nominees
0                  9
1                  2
2                  0
3                  0
4                  0
...              ...
3537               0
3538               0
3539               0
3540               0
3541               0

[3542 rows x 17 columns]